//sass
nav {
  background-color: $raisin-black;

  .navbar__logo {
    height: 45px;
    width: 78px;
  }
}

//css  normal
/*
nav {
  background-color: red;
}
nav ul {
  display: flex;
  justify-content: space-around;
}
*/
